<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NIQ</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

	<header
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Company name</a>
		<button 
			class="navbar-toggler position-absolute d-md-none collapsed" 
			type="button" 
			data-bs-toggle="collapse" 
			data-bs-target="#sidebarMenu"
			aria-controls="sidebarMenu" 
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" href="/logout">Sign out</a>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><i class="bi-house-door"></i> Home </a></li>
						<li class="nav-item"><a class="nav-link" href="/users"> <i class="bi-person"></i> User </a></li>
						<li class="nav-item"><a class="nav-link" href="/roles"> <i class="bi-person"></i> Role </a></li>
						<li class="nav-item"><a class="nav-link" href="/authorities"> <i class="bi-person"></i> Authority </a></li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Saved reports</span>
						<a class="link-secondary" href="#" aria-label="Add a new report"> <i class="bi-plus-circle"></i> </a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="#"> <i class="bi-file-earmark"></i> Sample </a></li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">IAM</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<a class="btn btn-sm btn-outline-secondary" href="/users/create">Create</a>
						</div>
					</div>
				</div>

				<h2>User Details</h2>
				
				<div class="w-100 m-auto">
					<form th:action="@{/users}" method="POST" modelAttribute="user" th:object="${user}">
						<input type="hidden" name="userId" th:value="${user.userId}">
						<!-- Username -->
						<div class="form-floating">
							<input type="text" class="form-control" id="username" name="username" placeholder="Username" th:value="${user.username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
							<label for="username">Username</label>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>
						
						<!-- Password -->
						<div class="form-floating" th:if="${#strings.isEmpty(user.password)}">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
							<label for="password">Password</label>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
						
						<!-- Account Non Expired -->
						<div class="form-check text-start my-3">
							<input type="checkbox" class="form-check-input" id="accountNonExpired" name="accountNonExpired" th:checked="${user.accountNonExpired}">
							<label class="form-check-label" for="accountNonExpired"> Account Non Expired </label>
						</div>
						
						<!-- Account Non Locked -->
						<div class="form-check text-start my-3">
							<input type="checkbox" class="form-check-input" id="accountNonLocked" name="accountNonLocked" th:checked="${user.accountNonLocked}">
							<label class="form-check-label" for="accountNonLocked"> Account Non Locked </label>
						</div>
						
						<!-- Credentials Non Expired -->
						<div class="form-check text-start my-3">
							<input type="checkbox" class="form-check-input" id="credentialsNonExpired" name="credentialsNonExpired" th:checked="${user.credentialsNonExpired}">
							<label class="form-check-label" for="credentialsNonExpired"> Credentials Non Expired </label>
						</div>
						
						<!-- Enabled -->
						<div class="form-check text-start my-3">
							<input type="checkbox" class="form-check-input" id="enabled" name="enabled" th:checked="${user.enabled}">
							<label class="form-check-label" for="enabled"> Enabled </label>
						</div>
						
						<input type="submit" class="btn btn-primary w-100 py-2" value="Submit">
					</form>
				</div>
			</main>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>